.crystal {
    height: 200px;
    text-align: center;
}

#text{
    text-align: center;
}
#title{
    background-color: palevioletred;
    margin-left: 40%;
    margin-right: 40%;
    border: 5px solid;
    border-color: black;
}
body{
    background-color: yellow
};